@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;600&display=swap');

h1 {
  font-family: 'Raleway', sans-serif;

}

.pregunta {
  font-size: 3.5rem;
}

.nombre-pez {
  font-size: 2rem;
}

.item-imagen {
  display: block;
  width: 18rem;
  height: 18rem;
}

.item-imagen img {
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}