@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;600&display=swap');

h1 {
  font-family: 'Raleway', sans-serif;

}

.header__question {
  font-size: 3.5rem;
}

.header__info-name {
  font-size: 2rem;
}

.header__info-image {
  display: block;
  width: 18rem;
  height: 18rem;
}

.header__info-image img {
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}